{% extends "todo/layout.html" %}

{% block title %}
    Exists
{% endblock %}

{% block body %}
    <style>
        h1 {
            margin-top: 2%;
            margin-bottom: 3%;
        }

        @media (min-width: 768px) {
            h1 {
                font-size: 50px;
            }

            a {
                font-size: 30px;
            }
        }
    </style>

    <h1 style="display: flex;justify-content: center;">The page already exists!</h1>

    <a style="display: flex;justify-content: center;" href="/" style="margin-top: 2%;">Back to home</a>

{% endblock %}